<a class="home">Home</a>
<a class="about-us">About Us</a>
<a class="support-us">Support Us</a>
<a class="help">Help</a>
<a class="faq">FAQ</a>
<a class="privacy">Privacy & Policy</a>
<a class="license">Licensing</a>

<script type="text/javaScript">
  $(document).ready(function () {
    $('.home').attr('href', window.location.href + `home/index.html`);
    $('.about-us').attr('href', window.location.href + `about-us/index.html`);
    $('.support-us').attr('href', window.location.href + `support/index.html`);
    $('.faq').attr('href', window.location.href + `faq/index.html`);
    $('.help').attr('href', window.location.href + `help/index.html`);
    $('.license').attr('href', window.location.href + `license/index.html`);
    $('.privacy').attr('href', window.location.href + `privacy/index.html`);
  })
</script>
