<div class="top">
  <h1 class="title">
    <div class="d-inline underlined">KUKEight</div>
    Studio
  </h1>
  <div class="text-center">
    <h3 class="welcome">Welcome...wanderers!</h3>
  </div>
</div>
<div class="description text-center pt-5">
  <div>Unleash Your Imagination:</div>
  <div class="dis-inline">Discover The World Of Novels Within Us...</div>
  <div class="dis-inline">
    Discover The World Of Novels Written By The Greatest...
  </div>
  <div class="dis-inline">Discover The World Of Novels Written By You!</div>
</div>
<div class="sign-up-login text-center" style="padding-top: 100px">
  <h4>
    Not a user yet? Well, what are you waiting for? <br />
    Join the Authors, Read and be cool!!
  </h4>
  <div class="d-flex justify-content-center align-items-center gap-10">
    <div
      class="button sign-up"
      data-toggle="tooltip"
      title="For those of you who doesn't have an account ;)"
    >
      Sign Up
    </div>
    <div
      class="button login"
      data-toggle="tooltip"
      title="Login if you're one of us :) "
    >
      Login
    </div>
  </div>
</div>
