<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Join us now!</h4>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="sign-up-form">
      <div class="modal-body">
        <div class="form-group pt-3">
          <label style="float: left">Email:</label>
          <input type="text" class="form-control" required />
        </div>
        <div class="form-group pt-3">
          <label style="float: left"
            >Username ( Globally displayed, Unique ):</label
          >
          <input type="text" class="form-control" required />
        </div>
        <div class="form-group pt-3">
          <label style="float: left">Age:</label>
          <input type="number" class="form-control" required />
        </div>
        <div class="form-group pt-3">
          <label style="float: left">Country:</label>
          <input type="text" class="form-control" required />
        </div>
        <div class="form-group pt-3">
            <label style="float: left">Password:</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control signup-password"
                required
              />
              <div class="input-group-addon">
                <button
                  style="border: none; position: absolute; left: 26.5em"
                  class="btn btn-outline-secondary"
                  type="button"
                  onclick="revealPassword()"
                  id="toggle-password"
                >
                  <i class="fas fa-eye"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group pt-3">
            <label style="float: left">Password:</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control confirm-signup-password"
                required
              />
              <div class="input-group-addon">
                <button
                  style="border: none; position: absolute; left: 26.5em"
                  class="btn btn-outline-secondary"
                  type="button"
                  onclick="revealPassword()"
                  id="toggle-password"
                >
                  <i class="fas fa-eye"></i>
                </button>
              </div>
            </div>
          </div>
        <div class="form-group pt-3">
          <label style="float: left">Langugae ( You can switch later ):</label>
          <select required>
            <option value="" selected disabled>Select below:</option>
            <option value="khmer">Khmer</option>
            <option value="english">English</option>
          </select>
        </div>
        <div class="form-group pt-3">
          <label style="float: left">You are a...:</label>
          <div class="form-group">
            <select required>
              <option value="" selected disabled>Select below:</option>
              <option value="musician">Musician</option>
              <option value="novelist">Novelist</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default close"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary submit-signup">
          Create Your Account!
        </button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(".close").on("click", function () {
    $(".modal").modal("hide");
  });

  $(".submit-signup, .submit-login").on("click", function (event) {
    alert("Thank q for trying out our demo hehe.");
  });
</script>
